{
    "presets": [
        ["@babel/preset-react"],
        ["@babel/preset-typescript", {
            "isTSX": true,
            "allExtensions": true
        }],
        ["@babel/preset-env", {
            "targets": {
                "ie": "11"
            },
            "useBuiltIns": "usage",
            "corejs": 3
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}
